In [6]:
import pandas as pd

df_notas=pd.read_csv('../18_analise_avancada.csv')

In [7]:
df_media = df_notas.groupby(['Turma']).mean()

print("Media matérias das turma")
df_media

Media matérias das turma

       Matemática   Ciências
Turma
A       69.515152  70.393939
B       70.888889  71.555556
C       68.741935  67.580645

In [8]:
df_mediano = df_notas.groupby(['Turma']).median()

print("Mediana matérias das turma")
df_mediano

Mediana matérias das turma

       Matemática  Ciências
Turma
A            68.0      72.0
B            71.0      72.0
C            74.0      67.0

In [9]:
df_matematica_moda = df_notas.groupby(['Turma'])['Matemática'].apply(lambda x: x.mode()[0])
df_ciencia_moda = df_notas.groupby(['Turma'])['Ciências'].apply(lambda x: x.mode()[0])

print("Moda matérias das turma")
pd.merge(df_matematica_moda, df_ciencia_moda, on="Turma")

Moda matérias das turma

       Matemática  Ciências
Turma
A              94        71
B              54        58
C              78        42

In [10]:
df_amplitude=df_notas.groupby(['Turma']).apply(lambda x: x.max() - x.min())

print("Amplitude matérias das turma")
df_amplitude

Amplitude matérias das turma

       Matemática  Ciências
Turma
A              57        58
B              53        58
C              60        57

In [11]:
df_variacao = df_notas.groupby(['Turma']).var()

print("Variçao matérias das turma")
df_variacao

Variçao matérias das turma

       Matemática    Ciências
Turma
A      325.570076  345.996212
B      234.101587  374.311111
C      307.997849  347.318280

In [22]:
df_desvio = df_notas.groupby(['Turma']).std()

print("Desvio matérias das turma")
df_desvio

Desvio matérias das turma

       Matemática   Ciências
Turma
A       18.043561  18.600973
B       15.300379  19.347122
C       17.549868  18.636477

In [13]:
df_conv = df_notas.groupby(['Turma']).cov().iloc[:,1]

print("Convariancia matérias das turma")
df_conv

Convariancia matérias das turma

Turma
A      Matemática    -68.646780
       Ciências      345.996212
B      Matemática    -25.165079
       Ciências      374.311111
C      Matemática     77.054839
       Ciências      347.318280
Name: Ciências, dtype: float64

In [14]:
df_corr = df_notas.groupby(['Turma']).corr().iloc[:,1]

print("Correlacao matérias das turma")
df_corr

Correlacao matérias das turma

Turma
A      Matemática   -0.204532
       Ciências      1.000000
B      Matemática   -0.085012
       Ciências      1.000000
C      Matemática    0.235593
       Ciências      1.000000
Name: Ciências, dtype: float64

In [20]:
df_notas

   Turma  Matemática  Ciências
0      C          83        96
1      A          47        91
2      C          63        52
3      C          50        80
4      A          90        42
..   ...         ...       ...
95     A          78        79
96     A          72        78
97     C          40        57
98     A          96        79
99     A          66        40

[100 rows x 3 columns]

### 1. Com base nas medidas acima, qual turma teve o melhor desempenho geral em Matemática e Ciências?
Turma B, pois a turma B tem a maior média em ambas matérias. E isso nos diz que a turma B tem o melhor desempenho nas 2 matérias apresentadas

### 2. Qual turma tem as notas mais consistentes em termos de desvio padrão?
Turma B, pois parece ter uma consistência um pouco melhor no geral, especialmente em Matemática. E isso nos diz que provavelmente teve menos alunos com notas extremamente baixas ou extremamente altas, o que pode ser um indicativo de uma curva de aprendizado mais estável, ou que não tem notas muito baixas o que é bom, ou os alunos não estão sendo desafiados o suficiente.

### 3. Existe uma correlação entre o desempenho em Matemática e Ciências para cada turma? Essa correlação é positiva ou negativa?
-Turma A: Correlação negativa, Isso significa que, na Turma A, quando os alunos têm notas mais altas em Matemática, tendem a ter notas ligeiramente mais baixas em Ciências, e vice-versa. No entanto, essa correlação é muito pequena.

-Turma B: Correlação negativa, Na Turma B, também há uma correlação negativa, embora seja muito fraca. Tendo uma leve tendência de que os alunos que vão melhor em uma disciplina tendem a ir um pouco pior na outra.

-Turma C: Correlação positiva, Na Turma C, a correlação é levemente positiva, o que indica que, nesta turma, os alunos que têm notas mais altas em Matemática tendem a ter notas mais altas em Ciências também. Embora essa relação seja fraca, existe uma tendência de os alunos irem bem em ambas disciplinas.

### 4. Qual turma apresenta a maior amplitude de notas? O que isso nos diz sobre a desigualdade de desempenho dentro da turma?
Turma C, tem uma desigualdade maior em ambas as matérias