# Revisao python

In [2]:
print('hello word')

hello word

In [3]:
nome = "Gabriel"

In [ ]:
boolean = True or False
inteiro = 12
flutuante=12.90
string="dasdasd"

if inteiro < 10
    print("menor que 10")
else
    print("maior que 10")

lista = [1,2,3,5,6]

for index in range(len(lista)):
    print(lista[index])

lista2 = [
    {nome:'Gabriel', idade:'18'},
    {nome: 'Rene', idade: '18'}
]