In [61]:
import pandas as pd

In [62]:
musicas = pd.DataFrame({
    'id_musica': [1, 2, 3, 4, 5],
    'nome_musica': ['Congratulations', 'National Anthem','Espresso', 'LOYALTY', 'Treasure'],
    'artista': ['Mac Miller', 'Lana Del Rey', 'Sabrina Carpenter', 'Kendrick Lamar', 'Bruno Mars'],
        'genero': ['Hip Hop', 'Pop', 'Pop', 'Hip Hop', 'Pop'],
    'duracao': [4.16, 3.50, 2.55, 3.47, 2.58]
})

print(musicas)

   id_musica      nome_musica            artista   genero  duracao
0          1  Congratulations         Mac Miller  Hip Hop     4.16
1          2  National Anthem       Lana Del Rey      Pop     3.50
2          3         Espresso  Sabrina Carpenter      Pop     2.55
3          4          LOYALTY     Kendrick Lamar  Hip Hop     3.47
4          5         Treasure         Bruno Mars      Pop     2.58

In [63]:
reproducoes = pd.DataFrame({
    'id_reproducao': [1, 2, 3, 4, 5],
    'id_musica': [1, 2, 3, 4, 5],
    'data_reproducao': ['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05'],
    'duracao_reproducao': [4.16, 3.50, 2.55, 3.47, 2.58]
})

print(reproducoes)

   id_reproducao  id_musica data_reproducao  duracao_reproducao
0              1          1      2024-10-01                4.16
1              2          2      2024-10-02                3.50
2              3          3      2024-10-03                2.55
3              4          4      2024-10-04                3.47
4              5          5      2024-10-05                2.58

In [64]:
musicas_reproduzidas = pd.merge(reproducoes, musicas, on='id_musica')

musicas_reproduzidas[['nome_musica', 'artista', 'duracao_reproducao']]

       nome_musica            artista  duracao_reproducao
0  Congratulations         Mac Miller                4.16
1  National Anthem       Lana Del Rey                3.50
2         Espresso  Sabrina Carpenter                2.55
3          LOYALTY     Kendrick Lamar                3.47
4         Treasure         Bruno Mars                2.58

In [65]:
reproducoes = reproducoes.drop(4)
musicas_listadas = pd.merge(musicas, reproducoes, on='id_musica', how='left').fillna('Não Reproduzida')

musicas_listadas

,id_musica,nome_musica,artista,genero,duracao,id_reproducao,data_reproducao,duracao_reproducao
0,1,Congratulations,Mac Miller,Hip Hop,4.16,1.0,2024-10-01,4.16
1,2,National Anthem,Lana Del Rey,Pop,3.50,2.0,2024-10-02,3.5
2,3,Espresso,Sabrina Carpenter,Pop,2.55,3.0,2024-10-03,2.55
3,4,LOYALTY,Kendrick Lamar,Hip Hop,3.47,4.0,2024-10-04,3.47
4,5,Treasure,Bruno Mars,Pop,2.58,Não Reproduzida,Não Reproduzida,Não Reproduzida

In [66]:
musicas_listadas['duracao_reproducao'] = pd.to_numeric(musicas_listadas['duracao_reproducao'],errors='coerce')
musicas_listadas['duracao_reproducao'].fillna(0)

0    4.16
1    3.50
2    2.55
3    3.47
4    0.00
Name: duracao_reproducao, dtype: float64

In [67]:
genero_mais_reproduzido = musicas_listadas.groupby('genero')['duracao_reproducao'].sum().idxmax()
print(genero_mais_reproduzido)

Hip Hop

In [68]:
quantidade_reproducao = musicas_listadas['duracao_reproducao'].sum()
print(quantidade_reproducao)

13.680000000000001

In [69]:
musicas_listadas['avaliacao'] = [5,5,5,5,5]
musicas_listadas

,id_musica,nome_musica,artista,genero,duracao,id_reproducao,data_reproducao,duracao_reproducao,avaliacao
0,1,Congratulations,Mac Miller,Hip Hop,4.16,1.0,2024-10-01,4.16,5
1,2,National Anthem,Lana Del Rey,Pop,3.50,2.0,2024-10-02,3.50,5
2,3,Espresso,Sabrina Carpenter,Pop,2.55,3.0,2024-10-03,2.55,5
3,4,LOYALTY,Kendrick Lamar,Hip Hop,3.47,4.0,2024-10-04,3.47,5
4,5,Treasure,Bruno Mars,Pop,2.58,Não Reproduzida,Não Reproduzida,NaN,5