In [1]:
import pandas as pd

df_notas = pd.read_csv('../17_notas_grupos.csv')

df_groupA_media = df_notas['Grupo_A'].mean()
df_groupB_media = df_notas['Grupo_B'].mean()


df_groupA_mediana = df_notas['Grupo_A'].median()
df_groupB_mediana = df_notas['Grupo_B'].median()

df_groupA_desvio = df_notas['Grupo_A'].std()
df_groupB_desvio = df_notas['Grupo_B'].std()

    Grupo_A  Grupo_B
0        51       23
1        92       25
2        14       88
3        71       59
4        60       40
..      ...      ...
95       39        0
96       84       26
97       79       61
98       81       76
99       52        2

[100 rows x 2 columns]